.screen-2 {
  .nor-lab {
    height: 44px;
    background: url("../../../assets/large-screen/part-two/nor-lab-bg.png")
      no-repeat;
    background-size: 100% 100%;
    font-size: 20px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #ffffff;
    padding: 0 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    span {
      font-size: 14px;
      font-family: Source Han Sans CN;
      font-weight: bold;
      color: #b8dce5;
      transform: translateY(3px);
    }
  }

  .nor-lab-long {
    background: url("../../../assets/large-screen/part-two/nor-lab-bg2.png")
      no-repeat;
    background-size: 100% 100%;
  }

  .nor-col {
    width: 100%;
    height: calc(50% - 10px);
    margin-left: -20px;
  }

  .card-1-4 {
    width: calc(25% - 20px);
    height: 100%;
    margin-left: 20px;
    background: url("../../../assets/large-screen/part-two/card-bg.png")
      no-repeat;
    background-size: 100% 100%;
  }
  .card-3-8 {
    width: calc(37.5% - 20px);
    height: 100%;
    margin-left: 20px;
    background: url("../../../assets/large-screen/part-two/card-bg2.png")
      no-repeat;
    background-size: 100% 100%;
  }

  :deep(.el-table) {
    background: transparent;
    color: #fff;
  }
  :deep(.el-table tr) {
    background: transparent;
    &:hover td.el-table__cell {
      background: rgba(41, 102, 124, 1);
    }
  }
  :deep(.el-table th.el-table__cell) {
    background: rgba(41, 102, 124, 1);
    color: #b8dce5;
    border-color: rgba(16, 98, 131, 1);
  }
  :deep(.el-table td.el-table__cell) {
    border-color: rgba(16, 98, 131, 1);
  }
  :deep(.el-table__inner-wrapper::before) {
    background: rgba(16, 98, 131, 1);
  }

  :deep(.el-table .el-table__cell) {
    padding: 6px 0;
  }

  .tab-con {
    padding: 10px 30px;
  }
}
